<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schema</title>
    <style>
        li {
            list-style-type: none;
            cursor: pointer;
        }
        summary.open::marker {
            color: purple;
            font-size: 20px;
        }
        summary::marker {
            color: orange;
            font-size: 20px;
        }
        
    </style>
</head>



<body>
    <h1>Node Tree</h1>

    <!-- * start schema -->
    <div id="node-tree"></div>
    <!-- * end schema -->

    <!-- * start dictionary -->
    <div id="node-dict"></div>
    <!-- * end dictionary -->


    <!-- * start enumerations -->
    <div id="node-enums"></div>
    <!-- * end enumerations -->


    <script>
    document.addEventListener("DOMContentLoaded", function() {

        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/schema/api/nodes/");

        xhr.onload = function() {
            if (xhr.status === 200) {
                var data = JSON.parse(xhr.responseText);
                var tree = document.getElementById("node-tree")
                var section = document.createElement("section")
                section.classList.add("tree");

                var nodeTree = drawTree(data);
                
                tree.appendChild(section);
                section.appendChild(nodeTree);
            } else {
                console.error("Failed to fetch data");
            }
        };

        xhr.send();

        function drawTree(data) {
            var ul = document.createElement("ul");
            ul.classList.add("children");
            data.forEach(function(node) {                               // node : forEach 콜백함수 매개변수 
                var li = document.createElement("li");
                li.classList.add("child");
                var summary = document.createElement("summary");
                summary.classList.add("parent");
                var div = document.createElement("div");
                div.classList.add("leaf");
                var details = document.createElement("details");
                details.classList.add("class");
                var childUl;
                
                // 사전(설명) 위치
                dict_position = "node-dict";
                summary.addEventListener("click", function() {
                    displayDict(node, dict_position);
                });

                div.addEventListener("click", function() {
                    displayDict(node, dict_position);
                });

                if (node.children && node.children.length) {
                    childUl = drawTree(node.children);
                    
                    summary.textContent = node.name;

                    details.appendChild(childUl);
                    details.appendChild(summary);
                    li.appendChild(details);
                } else {
                    childUl = drawTree(node.children);

                    div.textContent = node.name;
                    
                    li.appendChild(childUl);
                    li.appendChild(div);
                }
                ul.appendChild(li);
            });
            return ul;
        }

        

        function displayDict(node, position_id) {
            var div = document.getElementById(position_id);
            var dict = document.createElement("div");
            var br1 = document.createElement("br");
            var br2 = document.createElement("br");

            div.innerHTML = "";

            if  (node.dictionary && node.dictionary.length) {
                dict.textContent = node.dictionary;
            } else {
                dict.textContent = "[설명]: OOO";
            }

            div.appendChild(br1);
            div.appendChild(br2);

            div.appendChild(dict);
        }
        
    });
    </script>

</body>
</html>
