<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schema</title>
    <style>
        ul {
            list-style-type: none;
            cursor: pointer;
        }
    </style>
</head>
<body>

<h1>Node Tree</h1>

<div id="node-tree"></div>
<div id="node-dict"></div>
<div id="node-enums"></div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var xhr = new XMLHttpRequest();
    xhr.open("GET", "/schema/api/nodes/");
    xhr.onload = function() {
        if (xhr.status === 200) {
            var data = JSON.parse(xhr.responseText);
            var nodeTree = drawTree(data);

            document.getElementById("node-tree").appendChild(nodeTree);
        } else {
            console.error("Failed to fetch data");
        }
    };
    xhr.send();

    function drawTree(data) {
        var ul = document.createElement("ul");
        data.forEach(function(node) {                               // node : forEach 콜백함수 매개변수 
            var li = document.createElement("li");
            var details = document.createElement("details");
            var summary = document.createElement("summary");
            var childUl;
            
            summary.textContent = node.name;
            
            summary.addEventListener("click", function() {
                node_dict = "node-dict";
                displayDict(node, node_dict);
            });

            if (node.children && node.children.length) {
                childUl = drawTree(node.children);
            } else {
                childUl = document.createTextNode('aa'); 
            }

            details.appendChild(childUl);
            details.appendChild(summary);
            li.appendChild(details);
            ul.appendChild(li);
        });
        return ul;
    }

    // 자식이 있고 열린 상태의 노드 -> 검은색 세모
    
    // 자식이 있고 닫힌 상태의 노드 -> 하얀색 세모

    // 자식이 없고 열린 상태의 노드 -> 세모 없음

    function displayDict(node, elementId) {
        
        var div = document.getElementById(elementId);
        var dict = document.createElement("div");

        div.innerHTML = "";
        
        if  (node.dictionary && node.dictionary.length) {
            txt = node.dictionary;
        } else {
            txt = "설명 없음";
        }

        dict.textContent = txt;
        var br1 = document.createElement("br");
        var br2 = document.createElement("br");
        div.appendChild(br1);
        div.appendChild(br2);
        div.appendChild(dict);
    }

    
});
</script>

</body>
</html>
